<meta name="turbolinks-visit-control" content="reload">
<!-- Page Content -->
<div class="page-content">
  <h1 class="mb-2">Property Management System</h1>
  <hr class="pb-2 my-4">

  <!-- TODO : Replace style with class -->
  <div class="card-deck flex-column flex-lg-row">
      <div class="info-box card mb-30">
          <div class="card-body">
              <div class="info-group text-left">
                  <label style="font-size: 1.5em; color:black">Units Occupied</label>
              </div>
              <div style="height:180px">
                  <h1 style="font-size: 8rem"><%= Unit.where(user_type: 'client').count %></h1>
              </div>
              <div class="btn-group info-box-action d-flex" role="group">
                  <a href="<%= admin_units_path %>" class="info-box-btn-main flex-fill btn btn-blue-gradient" style="font-size: 1.3em; text-align: center; padding: 1rem !important;">Manage Units</a>
              </div>
          </div>
      </div>
      <div class="info-box card mb-30">
          <div class="card-body">
              <div class="info-group text-left">
                  <label style="font-size: 1.5em; color:black">Overdue Units</label>
              </div>
              <div style="height:180px">
                  <h1 style="font-size: 8rem"><%= Unit.where(user_type: 'client').where('due_amount > ?', 0).count %></h1>
              </div>

              <div class="btn-group info-box-action d-flex" role="group">
                  <a href="<%= admin_overdue_path %>" class="info-box-btn-main flex-fill btn btn-blue-gradient" style="font-size: 1.3em; text-align: center; padding: 1rem !important;">View Overdue Units</a>
              </div>
          </div>
      </div>
  </div>
</div>
